dist/
resum.egg-info/

src/coherent/in/data/training/hf/*.csv
src/coherent/in/data/training/lf/*.csv
src/coherent/in/data/validation/lf/*.csv

src/coherent/in/data/training/hf/*.h5
src/coherent/in/data/training/lf/*.h5
src/coherent/in/data/validation/lf/*.h5

src/coherent/in/data/coherent_dataset.tar.gz